/* HEADER BASE */
.header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 999;
  transition:
    background 0.3s ease,
    backdrop-filter 0.3s ease;
  background: transparent;
}

.scrolled {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(20px);
}

/* CONTAINER */
.header-container {
  padding: 16px 60px;
  margin: auto;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* LOGO + NAV */
.logo-nav-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* LOGO */
.logo img {
  width: 140px;
  height: 40px;
}

.language-selector {
  display: flex;
  width: 58px;
  align-items: center;
  gap: 12px;
  flex-shrink: 0;
}

.language-option {
  color: #23252a;
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: -0.32px;
  cursor: pointer;
  opacity: 0.3;
}

.active {
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: auto;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;

  opacity: 1;
}

/* MOBILE */
@media (max-width: 992px) {
  .header-container {
    padding: 16px;
  }
}
