html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

@font-face {
    font-family: "Ivar Text";
    src: url("../assets/font/IvarText-Italic.otf") format("opentype");
    font-style: italic;
}

@font-face {
    font-family: "Satoshi";
    src: url("../assets/font/Satoshi-Medium.ttf") format("truetype");
    font-weight: 500;
}

@font-face {
    font-family: "Work Sans";
    src: url("../assets/font/WorkSans-Medium.ttf") format("truetype");
    font-weight: 500;
}

/* Container Layout */

.main-container {
    background: #e5e6e8;
    position: relative;
    z-index: 0;
    overflow: hidden;
}

.an-container {
    max-width: 834px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
}

/* Hero Section */

.hero {
    width: 100%;
    min-height: 912px;
    padding: 0px 16px;
    box-sizing: border-box;
    position: relative;
    z-index: 1;
    margin-top: 122px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hero-text-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    align-self: stretch;
}

.hero-text-1 {
    color: #23252A;
    font-family: "Ivar Text", serif;
    font-size: 48px;
    font-style: italic;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: -1.44px;

    align-self: stretch;
    margin: 0;
}

.hero-text-2 {
    color: #23252A;
    font-family: "Satoshi", sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: -0.96px;

    align-self: stretch;
    margin: 0;
}

.hero-description {
    color: #4B4D51;
    font-family: "Work Sans", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: -0.32px;

    margin: 0;
    width: 100%;
    box-sizing: border-box;
    word-wrap: break-word;
}

.hero-bottom-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.hero-subtitle {
    color: #23252A;
    text-align: center;
    font-family: "Ivar Text", serif;
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: -0.32px;

    align-self: stretch;
    margin: 0;
}

.hero-email {
    color: #23252A;
    font-family: "Work Sans", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    text-align: center;
    letter-spacing: -0.32px;

    margin: 0;
}

.hero-cta {
    display: flex;
    padding: 12px 22px 14px 22px;
    justify-content: center;
    align-items: center;

    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.00);
    background: radial-gradient(83.25% 35.25% at 64.75% 50%, #FF8D03 0%, #F60 100%);

    color: #FFF;
    text-align: center;
    font-family: "Work Sans", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    letter-spacing: -0.32px;
    margin-top: 18px;
}

.hero-orbit {
    width: 507.052px;
    height: 214.148px;
    transform: rotate(11.683deg);
    position: absolute;
    top: 300px;
    left: -105px;
}

.hero-image {
    width: 339.293px;
    height: 339.293px;
    position: absolute;
    top: 327px;
    left: 50%;
    transform: translateX(-50%);
}

@media (min-width: 413px) and (max-width: 834px) {
    .hero-orbit {
        left: 50%;
        transform: translateX(-50%) rotate(11.683deg);
    }
}

/* Middle Text Section */

.middle-text-container {
    width: 100%;
    padding: 0px 16px;
    box-sizing: border-box;
    position: relative;
    z-index: 1;
    margin-top: 105px;
}

.middle-text-1 {
    font-family: "Ivar Text", serif;
    font-size: 60px;
    font-style: italic;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: -2.4px;

    opacity: 0.4;
    background: linear-gradient(90deg, #74B4FA 0%, #666 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    margin: 0;
}

.middle-text-2 {
    font-family: "Ivar Text", serif;
    font-size: 60px;
    font-style: italic;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: -2.4px;

    opacity: 0.4;
    background: linear-gradient(90deg, #74B4FA 0%, #666 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    text-align: right;
    margin: 0;
}

@media (max-width: 370px) {
    .middle-text-1 {
        font-size: 50px;
        letter-spacing: -1.6px;
    }

    .middle-text-2 {
        font-size: 50px;
        letter-spacing: -1.6px;
    }
}

.curve-vector-container {
    width: 100%;
    height: 450px;
    position: relative;
}

.curve-vector-svg {
    width: 1342.361px;
    height: 321.894px;
    transform: rotate(18.889deg);
    position: absolute;
    top: 150px;
    left: -250px;
}